<html>
<head>
<title>Grouping Summary Report</title>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="../html-res/favicon.ico" />

<style type="text/css">
table.grouping {
	empty-cells:show;
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.grouping th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
table.grouping td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
.cleartopborder {
	border-top: none  !important;
}
table.summary {
	margin: 0 60px;
	padding: 2px 12px;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.summary th {
	padding: 2px;
	text-align: center;
	-moz-border-radius: ;
}
table.summary td {
	padding: 2px;
	text-align: left;
	-moz-border-radius: ;
}

.header1 {
	width: 40px;
}
.header2 {
	width: 240px;
}
.header4 {
	width: 80px;
}
.header5 {
	width: 240px;
}
.field2 {
	color: blue;
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.field5 {
	color: blue;
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.myform {
    border: 2px solid orange;
    margin: 5px;
    padding: 5px;
    width: 95%;
}
.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
@media screen {
	body {
		width: 90%;
	}
}
</style>
#[[
<script src="../html-res/jquery.min.js"></script>
<script type="text/javascript">
function Init(){print();}
var savedNode=null;
var editedItem=null;
var savedValue=null;
var savedId=null;
function updateName(id) {
	if (savedNode!=null) cancelEdit();
	savedId=id;
	var f = document.getElementById("myForm").firstChild.cloneNode(true);
    editedItem = document.getElementById(id);
    savedValue = editedItem.firstChild.innerHTML;
	savedNode = editedItem.firstChild;
    editedItem.replaceChild(f,savedNode);
	editedItem.firstChild.firstChild.nextSibling.value = savedValue;
}
function cancelEdit() {
	editedItem.replaceChild(savedNode,editedItem.firstChild);
	editedItem.firstChild.innerHTML = savedValue;
	savedNode=null;
	editedItem=null;
	savedValue=null;
	savedId=null;
}
function updateDone() {
	savedValue = editedItem.firstChild.firstChild.nextSibling.value;
	// Post values
	jQuery.post("/api/groupsnaming/updatename",{id:savedId,name:savedValue,submit:true})
	.done(function(data, textStatus, jqXHR) {
		cancelEdit();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.error("Update failed. status="+textStatus);
	}); 
}
</script>
]]#
</head>
	<body style="background-color:#F7F7F7;">
	<iframe name="hiddenFrame" class="hide"></iframe>
	<div style="visibility: visible; width: 100%; text-align: right;" >
		<img alt="" src="../html-res/DA_rep_600.png" style="margin-top: 0px; margin-left: 0px; width: 170px; height: 91px;">
	</div>
	<!-- <body onLoad='Init()'> -->
	<br/>
	<h1>Grouping Report</h1>
	<br/>
## Grouping Summary table
	<div>
	<div style="visibility: hidden;" id="myForm" ><form onsubmit="updateDone()" class="myform" target="hiddenFrame">
		<input name="name" value="" type="text"  style="width:80%;">
		<input type="button" value="Cancel" onclick="cancelEdit()">
		<input type="submit" value="Ok">
	</form></div>
	<table class="grouping" width="100%">
	<thead>
	<tr>
	#set ( $headers = ["#","Group id","Group name","# Files","Sample file"] )
	#set ( $clearRepetitions = [] )
	#set ($rowsPerPage = 30)
	#set ($pageCount = 1)
	#set ($fcount = 0)
	#set ($linkFldCount = 0)
	#foreach( $rowHead in $headers )
		#set ($fcount = $fcount + 1)
		#if ( $rowHead.toLowerCase().contains("file") ) #set ($linkFldCount = $fcount) #end
		<th class="header$fcount">$rowHead</th>
	#end
	</tr>
	</thead>
	<tbody>
	#set ($rowCount = 0)
	#set ($lastRowFields = 0 )
	#foreach( $group in $groups )
	#set ($rowCount = $rowCount + 1)
	## Break table and page every $rowsPerPage rows
	#if ( ($rowCount % $rowsPerPage) == 0 )
		</tbody>
		</table>
		<div style="text-align: right; width: 100%;"><a href="#$pageCount"><p>Page $pageCount</p></a></div>
		<div style="page-break-before: always"></div>
		#set ($pageCount = $pageCount + 1)
		<a name="$pageCount"></a>
		<table class="grouping" width="100%">
		<thead>
			<tr>
			#set ($fcount = 0)
			#foreach( $rowHead in $headers )
				#set ($fcount = $fcount + 1)
				<th class="header$fcount">$rowHead</th>
			#end
			</tr>
		</thead>
		<tbody>
	#end
	#set ($fcount = 0)
	<tr>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$rowCount</td>
		#set ($fcount = $fcount + 1)
		#set ( $link = $htmlFormatter.getGroupReportHyperlink($group, 0) )
		<td class="field$fcount"><a href="$link" target="_blank" >$group.getId()</a></td>
		#set ($fcount = $fcount + 1)
##		<td class="field$fcount">$group.getNameForReport()</td>
##		<td class="field$fcount"><input id="$rowCount" type="text" name="$group.getId()" value="$group.getNameForReport()" onchange="updateName(1+$rowCount)><p ondblclick="updateName(1+$rowCount)">***</p></td>
		<td class="field$fcount" id="$group.getId()" ondblclick="updateName('$group.getId()')"><p>$group.getNameForReport()</p></td>
		#set ($fcount = $fcount + 1)
		#if ( $group.getNumOfFiles()>0 )
			#set ( $numFileStr=$group.getNumOfFiles() )
		#else
			#set ( $numFileStr="" )
		#end
		<td class="field$fcount">$numFileStr</td>
##		<td class="field$fcount">$group.getNumOfFilesNotNull()</td>
		#set ($fcount = $fcount + 1)
		#set ($firstFilename = $group.getFirstMember().getFileName() )
		#set ($firstBasename = $group.getFirstMember().getBaseNameNotNull() )
		#set ( $link = "/report/filecontent/"+$group.getFirstMember().getLid() )
		<td class="field$fcount"><a href="$link" title="$firstFilename" >$firstBasename</a></td>
	</tr>
	#end
	<tr>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$rowCount</td>
		#set ($fcount = $fcount + 1)
		#set ( $link = $htmlFormatter.getGroupReportHyperlink(0) )
		<td class="field$fcount"><a href="$link" target="_blank" >Ungrouped</a></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
	</tr>
	</tbody>
	</table>
<br/>
<h5> - </h5>
</div>
<script src="../html-res/jquery-1.11.1.min.js" ></script>
</body>
</html>
