<html>
<head>
<title>Extraction highlighting - $basename</title>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="../../html-res/favicon.ico" />

<style type="text/css">
.hl1 {
	background: none repeat scroll 0 0 #f5ec3d;
}
.hl2 {
	background: none repeat scroll 0 0 #d5ee34;
}
.hl3 {
	background: none repeat scroll 0 0 #b5f12b;
}
.hl4 {
	background: none repeat scroll 0 0 #95f422;
}
.hl5 {
	background: none repeat scroll 0 0 #75f61a;
}
.hl6 {
	background: none repeat scroll 0 0 #55f911;
}
.hl7 {
	background: none repeat scroll 0 0 #35fc08;
}
.hl8 {
	background: none repeat scroll 0 0 #15ff00;
}

@media screen {
	body {
		width: 90%;
	}
}
</style>
#[[
<script type="text/javascript">
function Init(){print();}
</script>
]]#
</head>
	#set ($path2Replace = "")
	#set ($replacementPath = "")
##	#set ($path2Replace = "D:/data/enron/Extraction/")
##	#set ($replacementPath = "C:/TmpEntonFiles/")
	#set ($groupText = "" )
	#if (! $group.isEmpty() )
		#set ($groupText = " ("+$group+")" )
	#end
	#if ($replacementPath.isEmpty() )
		#set ( $link = $htmlFormatter.filename2Hyperlink($filename) )
	#else
		#set ( $link = $htmlFormatter.filename2Hyperlink($filename, $path2Replace, $replacementPath) )
	#end
	<body style="background-color:#F7F7F7;">
	<div style="visibility: visible; width: 100%; text-align: right;" >
		<img alt="" src="../../html-res/DA_rep_600.png" style="margin-top: 0px; margin-left: 0px; width: 170px; height: 91px;">
	</div>
	<!-- <body onLoad='Init()'> -->
	<h2>Extraction highlighting for document <a href="$link">$filename</a>$groupText</h2>
	#set ($entityText = "" )
	#if (! $entity.isEmpty() )
		#set ($entityText = " for "+$entity )
	#end
	#if ($rule.isEmpty() )
		<h3>Matched tokens: $clearTokens</h3>
	#elseif ($rule.contains(",") )
		<h3>Found entities: $entity hitting rules '$rule'</h3>
		<h3>Matched tokens: $clearTokens</h3>
	#else
		<h3>Matched rule '$rule'$entityText with tokens: $clearTokens</h3>
	#end
## Showing the file locations in sequence
	#if (! $locations.isEmpty() )
		<div>
		<b>Matches locations:</b><br/>
		#foreach( $k in $locations.keySet())
			Sheet <b>$k</b>:
			<div style="padding-left: 20px;">
			#set ($notFirst = false )
			#foreach( $l in $locations.get($k))
				#if ( $notFirst )
				<br/>
				#end
				#set ($notFirst = true )
				$l
			#end
			</div>
		#end
		</div>
		<br/>
		<b>Matched text:</b><br/>
	#end
## Showing the snippets in sequence
	<div>
	#foreach( $hl in $highlights)
		$hl
		<br/>
	#end
	<br/>
	</div>
</body>
</html>