<html>
<head>
<title>$title - page $page</title>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="../../html-res/favicon.ico" />

<style type="text/css">
table.grouping {
	empty-cells:show;
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.grouping th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
table.grouping td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
.cleartopborder {
	border-top: none  !important;
}
table.summary {
	margin: 0 60px;
	padding: 2px 12px;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.summary th {
	padding: 2px;
	text-align: center;
	-moz-border-radius: ;
}
table.summary td {
	padding: 2px;
	text-align: left;
	-moz-border-radius: ;
}

.header0 {
	width: 40px;
}
.headers {
	width: 120px;
}
.fields {
	text-align: left !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	max-width: 400px;
}
.field2 {
	text-align: left !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.field3 {
	color: blue;
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.field4 {
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right {
	text-align: right !important;
}
.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}
@media screen {
	body {
		width: 90%;
	}
}
</style>

<script type="text/javascript">
function Init(){print();}
</script>
</head>
	<body style="background-color:#F7F7F7;">
	<div style="visibility: visible; width: 100%; text-align: right;" >
		<img alt="" src="../../html-res/DA_rep_600.png" style="margin-top: 0px; margin-left: 0px; width: 170px; height: 91px;">
	</div>
	<!-- <body onLoad='Init()'> -->
	<br/>
	#if ($prevFileLink.isEmpty() && $nextFileLink.isEmpty() )
		#set ($pageStr = "" )
	#else
		#set ($pageStr = "Page $page" )
	#end 
	#macro( prevNextLinks )
		<table width="100%">
		<tr><td style="text-align: left; width: 35%;">
		#if (!$prevFileLink.isEmpty() )
			<a href="$prevFileLink"><p>&lt;&lt; Prev. page</p></a>
		#end
		</td><td style="text-align: center;">$pageStr</td><td style="text-align: right; width: 35%;">
		#if (!$nextFileLink.isEmpty() )
			<a href="$nextFileLink"><p>Next page &gt;&gt;</p></a>
		#end
		</td></tr></table> 
	#end
	#prevNextLinks ()
	<h2>$title</h2>
	<br/>
####### table
	<div>
	<table class="grouping" width="100%">
	<thead>
	<tr>
	#set ($rowsPerPage = 99999999)
	#set ($pageCount = 1)
	#set ($fcount = 0)
	<th class="header0">#</th>
	#foreach( $rowHead in $headers )
		#set ($cls = $classes.get($fcount))
		#set ($fcount = $fcount + 1)
		#set ($htext = $htmlFormatter.genericHeaderGetColumnTitle($rowHead) )
		<th class="headers $cls">$htext</th>
	#end
	</tr>
	</thead>
	<tbody>
	#set ($rowCount = $pageSize * ($page - 1) )
	#set ($lastBasename = "" )
	#foreach( $row in $rows )
		#set ($rowCount = $rowCount + 1)
		#set ($fcount = 0)
		<tr>
		<td class="field0">$rowCount</td>
		#foreach( $rowHead in $headers )
			#set ($cls = $classes.get($fcount))
			#set ($fcount = $fcount + 1)
			#set ($data = $htmlFormatter.genericHeaderGetFieldText($rowHead,$row) )
			#set ($link = $htmlFormatter.genericHeaderGetFieldHyperink($rowHead,$row) )
			#set ($ttip = $htmlFormatter.genericHeaderGetFieldToottip($rowHead,$row) )
			#if ( $link.isEmpty() )
				<td class="fields $cls" title="$ttip">$data</td>
			#else
				#if ( $link.startsWith("http:") )
					<td class="fields $cls" title="$ttip"><a href="$link" target="_blank">$data</a></td>
				#else
					<td class="fields $cls" title="$ttip"><a href="$link">$data</a></td>
				#end
			#end
		#end
		</tr>
		#if ( ($rowCount % $pageSize) == 0 )
			#break
		#end
	#end
	</tbody>
	</table>
	<br/>
	#prevNextLinks ()
</div>
</body>
</html>
