<html>
<head>
<title>Grouping Summary Report - Naming research</title>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="../html-res/favicon.ico" />

<style type="text/css">
table.grouping {
	empty-cells:show;
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.grouping th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
table.grouping td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	text-align: center;
	-moz-border-radius: ;
}
.cleartopborder {
	border-top: none  !important;
}
table.summary {
	margin: 0 60px;
	padding: 2px 12px;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.summary th {
	padding: 2px;
	text-align: center;
	-moz-border-radius: ;
}
table.summary td {
	padding: 2px;
	text-align: left;
	-moz-border-radius: ;
}

.header1 {
	width: 40px;
}
.header2 {
	width: 40px;
}
.header3 {
	width: 80px;
}
.header4 {
	width: 80px;
}
.header5 {
	width: 80px;
}
.header6 {
	width: 80px;
}
.header7  {
	width: 80px;
}
.header8  {
	width: 80px;
}
.field2 {
	color: blue;
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.field5 {
	color: blue;
	text-align: left !important;
	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen {
	body {
		width: 90%;
	}
}
</style>

<script type="text/javascript">
function Init(){print();}
function updateName(id) {
    document.getElementById(id).value = "Hello World";
}
</script>
</head>
	#set ($path2Replace = "")
	#set ($replacementPath = "")
##	#set ($path2Replace = "D:/data/enron/Extraction/")
##	#set ($replacementPath = "C:/TmpEntonFiles/")
	<body style="background-color:#F7F7F7;">
	<div style="visibility: visible; width: 100%; text-align: right;" >
		<img alt="" src="../html-res/DA_rep_600.png" style="margin-top: 0px; margin-left: 0px; width: 170px; height: 91px;">
	</div>
	<!-- <body onLoad='Init()'> -->
	<br/>
	<h1>Grouping Report</h1>
	<br/>
## Grouping Summary table
	<div>
	<p>$debTitle</p>
	<table class="grouping" width="100%">
	<thead>
	<tr>
	#set ( $headers = ["#","Group id","Group name","# Files","Sample file","newPT","PT","fn","parentDir","grandP Dir"] )
	#set ( $clearRepetitions = [] )
	#set ($rowsPerPage = 30)
	#set ($pageCount = 1)
	#set ($fcount = 0)
	#set ($linkFldCount = 0)
	#foreach( $rowHead in $headers )
		#set ($fcount = $fcount + 1)
		#if ( $rowHead.toLowerCase().contains("file") ) #set ($linkFldCount = $fcount) #end
		<th class="header$fcount">$rowHead</th>
	#end
	</tr>
	</thead>
	<tbody>
	#set ($rowCount = 0)
	#set ($lastRowFields = 0 )
	#foreach( $group in $groups )
	#set ($rowCount = $rowCount + 1)
	## Break table and page every $rowsPerPage rows
	#if ( ($rowCount % $rowsPerPage) == 0 )
		</tbody>
		</table>
		<div style="text-align: right; width: 100%;"><a href="#$pageCount"><p>Page $pageCount</p></a></div>
		<div style="page-break-before: always"></div>
		#set ($pageCount = $pageCount + 1)
		<a name="$pageCount"></a>
		<table class="grouping" width="100%">
		<thead>
			<tr>
			#set ($fcount = 0)
			#foreach( $rowHead in $headers )
				#set ($fcount = $fcount + 1)
				<th class="header$fcount">$rowHead</th>
			#end
			</tr>
		</thead>
		<tbody>
	#end
	#set ($fcount = 0)
	<tr>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$rowCount</td>
		#set ($fcount = $fcount + 1)
		#set ( $link = $htmlFormatter.getGroupReportHyperlink($group, 0) )
		<td class="field$fcount"><a href="$link" target="_blank" >$group.getId()</a></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getNameForReport()</td>
##		<td class="field$fcount"><input id="$rowCount" type="text" name="$group.getId()" value="$group.getNameForReport()" onchange="updateName(1+$rowCount)><p ondblclick="updateName(1+$rowCount)">***</p></td>
		#set ($fcount = $fcount + 1)
		#if ( $group.getNumOfFiles()>0 )
			#set ( $numFileStr=$group.getNumOfFiles() )
		#else
			#set ( $numFileStr="" )
		#end
		<td class="field$fcount">$numFileStr</td>
##		<td class="field$fcount">$group.getNumOfFilesNotNull()</td>
		#set ($fcount = $fcount + 1)
		#set ($firstFilename = $group.getFirstMember().getFileName() )
		#set ($firstBasename = $group.getFirstMember().getBaseNameNotNull() )
		#if ($replacementPath.isEmpty() )
			#set ( $link = $htmlFormatter.filename2Hyperlink($firstFilename) )
		#else
			#set ( $link = $htmlFormatter.filename2Hyperlink($firstFilename, $path2Replace, $replacementPath) )
		#end
		#set ( $s1="\}," )
		#set ( $s2="\},<br/>" )
		<td class="field$fcount"><a href="$link" title="$firstFilename" target="_blank" >$firstBasename</a></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getNewProposedNames().replaceAll($s1,$s2)</td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getProposedNames().replaceAll($s1,$s2)</td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getFileNamesTV().replaceAll($s1,$s2)</td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getParentDirTV().replaceAll($s1,$s2)</td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$group.getGrandParentDirTV().replaceAll($s1,$s2)</td>
	</tr>
	#end
	<tr>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount">$rowCount</td>
		#set ($fcount = $fcount + 1)
		#set ( $link = $htmlFormatter.getGroupReportHyperlink(0) )
		<td class="field$fcount"><a href="$link" target="_blank" >Ungrouped</a></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
		#set ($fcount = $fcount + 1)
		<td class="field$fcount"></td>
	</tr>
	</tbody>
	</table>
<br/>
<h5> - </h5>
</div>
</body>
</html>
